<mat-card class="card">
    <mat-card-header (click)="goToOwner()" class="card_header">
        <div mat-card-avatar class="avatar_male" *ngIf="owner.gender == 'm' || owner.gender == 'M'"></div>
        <div mat-card-avatar class="avatar_female" *ngIf="owner.gender == 'f' || owner.gender == 'F'"></div>    
        <mat-card-title><b>{{owner.firstName}} {{owner.lastName}}</b></mat-card-title>
        <mat-card-subtitle>
          {{post.created | date:'medium'}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{post.content}}
    </mat-card-content>
    <mat-card-footer>
        <mat-expansion-panel>
            <mat-expansion-panel-header (click)="getComments()">
                <mat-panel-title>Comments</mat-panel-title>
            </mat-expansion-panel-header>


            <mat-list>
                <mat-list-item *ngFor="let comment of post.comments">
                    <mat-icon mat-list-icon>comment</mat-icon>
                    <h4 mat-line>{{comment.content}}</h4>
                    <p mat-line>{{comment.created | date:'short'}}</p>
                </mat-list-item>
                <mat-list-item *ngIf="post.comments.length === 0">
                    <i>No Comments</i>
                </mat-list-item>
            </mat-list>

            <form [formGroup]="commentForm" novalidate>
                <mat-action-row>
                    
                    <mat-input-container floatPlaceholder="auto" class="addComment">
                        <input matInput placeholder="Comment" formControlName="content">
                    </mat-input-container>
                    <button mat-button (click)="createComment()">Create</button>
                    
                </mat-action-row>
            </form>
    </mat-expansion-panel>


    </mat-card-footer>

</mat-card>