

<mat-toolbar color="primary" class="fixed-header">
        
        <button mat-icon-button [matMenuTriggerFor]="viewMenu" *ngIf="loggedIn">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #viewMenu="matMenu">
            <button mat-menu-item (click)="goToPosts()">
                <mat-icon>comment</mat-icon>
                Posts
            </button>
            <button mat-menu-item (click)="goToEvents()">
                <mat-icon>event</mat-icon>
                Events
            </button>
        </mat-menu>

        <span (click)="goHome()" class="home_button">Cafe Nexus </span>


        <span class="spacer"></span>

        {{ pageTitle }}

        <span class="spacer"></span>
    
        <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="loggedIn">
            {{fullName}}
            <mat-icon>more_vert</mat-icon>
        </button>
    
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="goToAccount()">
                <mat-icon>account_box</mat-icon>
                Account
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Sign Out
            </button>
        </mat-menu>
          
</mat-toolbar>

<div fxFlexFill class="outlet">
<router-outlet (deactivate)="onDeactivate()"></router-outlet>
</div>