<div fxFlexFill fxLayoutAlign="center top">
<form [formGroup]="eventForm" novalidate>
<mat-card class="card">
  <mat-card-title>
    Create an Event
  </mat-card-title>
  <mat-card-content>

    <mat-form-field class="full_width card_title">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <span>

      Start:

      <span class="offset"></span>

      <mat-form-field class="date_picker">
        <input matInput [matDatepicker]="start_picker" placeholder="Choose a start date"
           (dateInput)="onStartDateChange('input', $event)" (dateChange)="onStartDateChange('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
        <mat-datepicker #start_picker></mat-datepicker>
      </mat-form-field>  

      

      <mat-form-field class="date_input" *ngIf="eventStartDate">
        <input matInput [(ngModel)]="eventStartHours" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <span *ngIf="eventStartDate">:</span>

      <mat-form-field class="date_input" *ngIf="eventStartDate">
        <input matInput [(ngModel)]="eventStartMinutes" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </span>

    <div></div>

    <span>
        
      End:

      <span class="offset"></span>

      <mat-form-field class="end_date_picker">
        <input matInput [matDatepicker]="end_picker" placeholder="End date"
            (dateInput)="onEndDateChange('input', $event)" (dateChange)="onEndDateChange('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
        <mat-datepicker #end_picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date_input" *ngIf="eventEndDate">
        <input matInput [(ngModel)]="eventEndHours" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <span *ngIf="eventEndDate">:</span>

      <mat-form-field class="date_input" *ngIf="eventEndDate">
        <input matInput [(ngModel)]="eventEndMinutes" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

    </span>

    <mat-form-field class="full_width">
      <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize matAutosizeMinRows="4"></textarea>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions align="center">
      <button mat-raised-button (click)="goBack()">Cancel</button>
      <button mat-raised-button color="accent" (click)="createEvent()">Create Event</button>
  </mat-card-actions>

</mat-card>
</form>
</div>