.card {
    width: 400px;
}

.card_title {
    font-size: 18px;
    margin-bottom: 0px;
}

.full_width {
    width: 100%;
}

.card_content {
    margin-top: 0px;
}

.spacer {
    flex: 1 1 auto;
}

.close_button {
    align-content: top;
}